.root {
  border: 1px solid grey;
  border-radius: 4px;
}

.primary {
  background-color: rgb(208, 55, 0);
  color: white;
}

.secondary {
  background-color: white;
  color: black;
}

.s {
  font-size: 12px;
}

.m {
  font-size: 14px;
}

.l {
  font-size: 20px;
}
