.reviewList {
  align-self: flex-start;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.review {
  margin-bottom: 10px;

  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
