.root {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}
